.container-section {
    flex-direction: column;
}

.dashboard-header {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 2rem;
}

.dashboard-header  h1 {
    color: var(--color-secondary);
}

.dashboard-header  p {
    color: var(--color-text);
}

.dashboard-header  .motivational-phrase {
    color: var(--color-text);
    font-size: 0.8rem;
    opacity: 0.5;
    max-width: 300px;
}


.section-title {
    color: var(--color-text);
    font-size: clamp(1rem, 100%, 2rem);
}

.section-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content 1fr 1fr;
    
    gap: 2rem;
    height: 100%;
}



.section--continue {
    grid-column: 1 / 3;
    grid-row: auto;
}

.section--goals {
    grid-column: 1 / 3;
    grid-row: auto;
}

.section--progress {
    grid-column: 1 / 3;
    grid-row: auto;
}  


@media screen and (min-width: 860px) { 

    .dashboard-header  .motivational-phrase {
       margin-left: auto;
       width: 30%;
    }

    .section-group {
        grid-template-rows: min-content 1fr 1fr;
    }

    .section--continue {
        grid-column: 1 / 2;
        grid-row: 2 / 4; 
    }

    .section--goals {
       grid-column: 2 / 3;  
       grid-row: 2 / 3;       
    }

    .section--progress {
       grid-column: 2 / 3; 
       grid-row: 3 / 4;   
    }

}
